@tailwind base;
@tailwind components;
@tailwind utilities;

/*Personalized styles*/
.welcome-container,
.question-container {
  /* background-image: url(../images/welcome-background-img.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.money-active {
  background-color: orange;
  color: black;
  padding: 2px;
}

.options {
  background-image: linear-gradient(to bottom, #03163b, #012677, #03163b);
}

.options:hover {
  background-image: linear-gradient(180deg, #fcb31e 0%, #f9901c 100%);
  color: black;
  border: #f9901c;
}

.selected-answer {
  background-image: linear-gradient(180deg, #fcb31e 0%, #f9901c 100%);
  color: black;
  border-color: orange;
}

.correct-answer {
  background-image: linear-gradient(180deg, #0ab900 0%, #09a700 100%);
  /* background: #09a700; */
  color: white;
}

.wrong-answer {
  background-image: linear-gradient(180deg, #c20c0c 0%, #7c0000 100%);
  color: white;
}

#selected-answer-option {
  color: black;
}

.lifelines div:hover {
  transform: scale(1.3);
}

/* @layer components {
  .correct-answer {
    @apply text-amber-400 animate-blink;
  }
} */
